*{
  padding:0px;
  margin:0px;
}

body {
  background: white;
}
/* # Navigation Flex Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav{
  width:50%;
  height:auto;
  margin:1em 1em;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}
nav a{
  color:white;
  font-weight: bold;
  background-color: lightblue;
  text-decoration: none;
  text-transform: capitalize;
  padding:2em;
  border:2px solid gray;
  border-radius: 5px;
}
/* nav a{
  display:inline-block;
  padding:2em;
  background-color: green;
  border:2px solid lightseagreen;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
  text-transform: capitalize;
} */