*{
  padding:0px;
  margin:0px;
}

body {
  background: white;
}

nav{
  width:100%;
  height:auto;
  margin:1em 1em;
}

nav a{
  display:inline-block;
  padding:2em;
  background-color: green;
  border:2px solid lightseagreen;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
  text-transform: capitalize;
}