*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  background: white;
}

/* # Grid Items Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid{
  width:98%;
  margin:1em;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,100px);
  row-gap: 1em;
  column-gap: 1em;
}
.item{
  background-color:lightblue;
  width:100%;
}
.item:nth-child(1){
  background-color: green;
  grid-row: 1/2;
}
.item:nth-child(2){
  background-color: lightcoral;
  grid-row: 2/3;
}
.item:nth-child(3){
  background-color: orange;
  grid-row: 1/3;
  grid-column: 2/4;
  
}
.item:nth-child(4){
  background-color: yellow;
  grid-row: 1/3;
}
.item:nth-child(5){
  background-color: pink;
  grid-row: 1/3;
}
.tooltip{
  display:none;
}


/* # Diamond Shape Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.box {
  width:100%;
  height:100%;
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.diamond{
  background: #fff;
  height: 60px;
  text-align: center;
  transform:rotate(45deg);
	width:60px;
}
.diamond p {
  color: #333;
  display: table-cell;
  height: 60px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:60px;
}