*{
  padding:0px;
  margin:0px;
}

body {
  background: white;
  padding:1em;
}

/* solution using Flexbox */
.container{
  background-color: bisque;
  height: 30em; 
  width:20em;
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

p{
  top:50%;
  width:100%;
 text-align: center;
}
