*{
  padding:0px;
  margin:0px;
}

body {
  background: white;
  padding:1em;
}

.container {
  background-color: bisque;
  height: 60em; /* vh vw em rem */
  width:20em;
  position:relative;
}

p{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
 
}
